src/main/mule/database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	
	<flow name="databaseFlow" doc:id="1d48e333-e3a3-444d-a04d-7641e470a46b" >
		<db:insert doc:name="Insert" doc:id="471898a9-a8ef-4a2e-8f21-7f3ddcd98124" config-ref="Database_Config">
			<db:sql ><![CDATA[Insert INTO Registry (EntityType,FirstName,LastName,SSN_Tax,DOB,phone1,phone2,phone3,emailAddress) 
values (:EntityType,:FirstName,:LastName,:SSN_Tax,:DOB,:phone1,:phone2,:phone3,:emailAddress)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	EntityType: vars.dbRequest[0].EntityType,
	FirstName:vars.dbRequest[0].FirstName,
	LastName:vars.dbRequest[0].LastName,
	SSN_Tax:vars.dbRequest[0].SSN_Tax,
	DOB:vars.dbRequest[0].DOB,
	phone1:vars.dbRequest[0].phone1,
	phone2:vars.dbRequest[0].phone2,
	phone3:vars.dbRequest[0].phone3,
	emailAddress:vars.dbRequest[0].emailAddress,
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="933a00a1-0de0-4751-a337-eebec3440a4a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c7e39374-157a-4188-a23b-b5a79a1cf0d3" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="d3c1f3c6-759f-4e0f-9bad-013abbb4d1d6" message="Flow executed successfully" />
	</flow>
</mule>
